@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Mono&subset=latin,cyrillic-ext);

html, body, div, blockquote, input, textarea,img, a, p, ul, ol, li, h1, h2, h3, h4, h5, h6, th, td {margin: 0;padding: 0;}
blockquote, ul, ol, dl {margin: 0;}
ol,ul,dl {margin-left: 0}
div {display: block;}
th,td {padding: 0;}
p {margin: 0;}
img {border:none}

	#container {
		width: 960px;
 	    margin: 0 auto;
        min-height: 450px;
		}


body {
	font-family: "PT Sans",sans-serif;
	background: #f9fffc;
	overflow-x: hidden;
    color: #3e3e3e;
    font-size: 22px;
    line-height: 32px;
	}

.main_head {
    height: 320px;
    width: 100%;
    background:#151515 url(img/shapka.jpg) center top no-repeat;
}

.the_zagolovok {
    font: 700 36px/44px 'PT Mono',sans-serif;
    color: #fff;
    text-align: center;
}

	
.social_block {    
width: 700px;
min-height: 200px;
margin: 0 auto;
margin-top: 35px;
}
	
*::selection {
    background: #ccc;
}

*::-moz-selection {
     background: #ccc;
}
	
html, body, div {
	padding: 0px;
	margin: 0px;
	}

.page_block {
	width: 960px;
	margin: 0 auto;
	clear: both;
	height: 100%;
}

button {
	background: none;
	border: 0px;
}

input[type=text], textarea{
	width: 284px;
	height: 38px;
	border: 0px;
	margin-bottom: 20px;
	padding: 10px;
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	outline:none;

}



a, a:active, a:visited {
	text-decoration: none;
	color: #00B8D9;
}

a:hover {
	text-decoration: underline;
	}
	
	
/* --- */

#heady {
	height: 223px;
}

	#heady1 {
		height: 51px;
		line-height: 46px;
		text-align: center;
		
	}
	
		#heady1 h3{
			font-family: 'PT Sans',sans-serif;
			font-size: 18px;
			font-weight: bold;
			color: #f1f1f1;
			
		}
		
		
			#heady1 h3 span {
				color: #eeb00a;
			}
	
	#heady2 {
		height: 120px;
		text-align: center;
	}
		
		#heady2 h1{
			font-family: 'PT Sans',sans-serif;
			text-transform: uppercase;
            font-weight: 700;
			font-size: 42px;
			color: #343434;
		margin-top: 15px;
margin-bottom: -16px;
		}
		
		#heady2 h2 {
			font-family: 'PT Sans',sans-serif;
			font-weight: bold;
			font-size: 20px;
		color: #3E5672;
            line-height: 24px;
			width: 750px;
		}
		

	
		#video_div {
			/*background: url('img/video_bg.png');*/
			background-size: 100% 100%;
			margin: 0 auto;
			margin-bottom: 10px;
            text-align: center;
		}
		
			#video_div iframe {
                background: #d9efe7;
                padding: 5px;
			
			}
			
		p#soc_title {
			font-weight: normal;
			color: #252525;

		}
		
			p#soc_title span {
				color: #eeb00a;
			}
			
		#soc {
			width: 453px;
			height: 42px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			margin-left: 236px;
			border: 3px solid #effaf6;
		}
		
			#soc1 {
width: 225px;
height: 100%;
float: left;

box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
line-height: 42px;
padding-left: 0;
margin-left: -25px;
			}
			
			#soc2 {
width: 115px;
height: 100%;
float: left;

box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
line-height: 46px;
padding-left: 17px;
			}
			
			#soc3 {
				width: 130px;
				height: 100%;
				float: right;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				line-height: 42px;
		
				text-align: center;
			
			}
		
		#form {
			position: absolute;
			width: 540px;
			height: 184px;
			bottom: 54px;
			/* left: 210px; */
			left: 2000px;
			display: none;
			-webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.25);
			-moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.25);
			box-shadow:         0px 0px 20px rgba(50, 50, 50, 0.25);
			background: url('img/form_bg.png');
			background-size: 100% 100%;
		}
		
			#form_block1 {
				height: 44px;
				line-height: 44px;
			}
			
				#form_block1 p {
					text-transform: uppercase;
					color: #5f5f5f;
					font-size: 16px;
					font-weight: bold;
					text-align: center;
				}
				
					#form_block1 p span {
						color: #dd3f3f;
					}
			
			#form_block2 {
				height: 54px;
				line-height: 54px;
			}
			
				#form_block2 p {
					font-family: "Arial Black", "Arial";
					font-weight: bold;
					font-size: 21px;
					color: #252525;
					text-align: center;
					text-transform: uppercase;
				}
				
			#form_block3{
				height: 86px;
				line-height: 86px;
				text-align: center;
			}
			
				#form_block3 a{
					background: #f75757;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					padding: 10px 19px;
					color: #fff;
					text-transform: uppercase;
					font-family: "Arial";
					font-weight: bold;
					font-size: 14px;
					
					border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-bottom: 2px solid #bb3434;
					
					left: 35px;
				}
				
					#form_block3 a:active {
						top: 2px;
						border: 0px;
					}
                    
                
                
                
                    
 /*** TOP VIDEO BLOCK ***/   
 
    .four_video_block {
        width: 646px;
        height: 82px;
        background: url(img/stelki.jpg) center center no-repeat; 
        margin: 10px auto 0 auto;
    }
    
    .video_block2:hover, .video_block3:hover, .video_block4:hover, .video1_hovers:hover {
        background-position: bottom;
    }
    
    .video_block1:hover, .video2_active:hover, .video3_active:hover {
        opacity: 0.9;
        -moz-opacity: 0.9;
        -webkit-opacity: 0.9;
        transition: 0.1s;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
    }
    
    .video2_active {
                display: block;
                width: 128px;
                height: 73px;
                background: url(img/video2_active.jpg) left top no-repeat;
                cursor: pointer;
                margin: 4px 0 4px 40px;
                -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                float:left;
                opacity: 1;
                -moz-opacity: 1;
                -webkit-opacity: 1;
                transition: 0.1s;
                -webkit-transition: 0.1s;
                -moz-transition: 0.1s;
    }
    
    
    .video3_active {
                display: block;
                width: 128px;
                height: 73px;
                background: url(img/video3_active.jpg) left top no-repeat;
                cursor: pointer;
                margin: 4px 0 4px 40px;
                -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                float:left;
                opacity: 1;
                -moz-opacity: 1;
                -webkit-opacity: 1;
                transition: 0.1s;
                -webkit-transition: 0.1s;
                -moz-transition: 0.1s;
    }
    
    
    
            .video_block1 {
                display: block;
                width: 128px;
                height: 74px;
                background: url(img/video1.jpg) left top no-repeat;
                cursor: pointer;
                margin: 4px;
                -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                float:left;
                opacity: 1;
                -moz-opacity: 1;
                -webkit-opacity: 1;
                transition: 0.1s;
                -webkit-transition: 0.1s;
                -moz-transition: 0.1s;
            }

            
            .video1_hovers {
                 display: block;
                width: 128px;
                height: 74px;
                background: url(img/video1_hovers.jpg) left top no-repeat;
                cursor: pointer;
                margin: 4px;
                -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                float:left;
            }
            


            
            .video_block2 {
                display: block;
                width: 128px;
                height: 73px;
                background: url(img/video2.jpg) left top no-repeat;
                cursor: pointer;
                margin: 4px 0 4px 40px;
                -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                float:left;
            }
            
            .video_block3 {
                display: block;
                width: 128px;
                height: 73px;
                background: url(img/video3.jpg) left top no-repeat;
                cursor: pointer;
                margin: 4px 0 4px 39px;
                -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                float:left;
            }
            
            .video_block4 {
                display: block;
                width: 128px;
                height: 73px;
                background: url(img/video4.jpg) left top no-repeat;
                cursor: pointer;
                margin: 4px 0 4px 40px;
                -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                float:left;
            }
 
 
 .my_block1 {
    width: 778px;
    margin: 50px auto 0 auto;
 }
 
 .spisok_block1 {
    width: 230px;
    float: left;
    margin-left: 20px;
 }

 .spisok_block2 {
      width: 230px;
    float: left;
    margin-left: 22px;
}

 .spisok_block3 {
    width: 230px;
    float: left;
    margin-left: 45px;
 }
            


.main_form {

width: 840px;
margin: 0 auto;

}


.main_form input[type="text"] {
	width: 220px;
	border: 0;
	font-weight: 400;
	padding: 12px 10px 8px 30px;
	margin: 0;
    height: 30px;
    font: 400 18px/20px 'PT Sans', sans-serif;
    color: #73867d;
    border: 2px solid #d6d6d6;
}

.main_form .wf-button {
margin: 0;
border: 0;
background: url(img/button.png) left top no-repeat;
width: 265px;
height: 58px;
text-indent: -999999px;
padding: 19px;
cursor: pointer;
float: left;
transition: 0.2s;
-webkit-transition: 0.2s;
-moz-transition: 0.2s;
}

.main_form .wf-button:hover {
	opacity: 0.9;
	-webkit-opacity:0.9;
	-moz-opacity:0.9;
	o-opacity:0.9;
    -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
transition: 0.1s;
-webkit-transition: 0.1s;
-moz-transition: 0.1s;
}

input[placeholder], [placeholder], *[placeholder] {
	color:#73867d !important;
	
}



.input_margin {
	padding: 17px 20px 12px 0;
	float: left;
}

.strelki_bg2 {
background: url(img/strelki_bg.png) 150px 15px no-repeat; 
}

.bg_podarki {
    width: 665px;
    height: 134px;
    background: url(img/bg_podarki.png) left top no-repeat;
    margin: 0 auto;
}

.vopros_block {
    width: 620px;
    margin: 0 auto;
    background: url(img/vopros.png) left top no-repeat;
}


.pdg_a {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}
.pdg_a:hover {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}


.the_wrapper {
    width: 960px;
    margin: 0 auto;
}


.download_now {
    display: block;
    cursor: pointer;
    margin: 25px 0 0 110px;
    width: 226px;
    height: 42px;
    background: url(img/download_now.png) left top no-repeat;
    -webkit-box-shadow: 1px 3px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 3px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 3px 4px rgba(0,0,0,0.4);
        transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}

.download_now:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}


.bg_blue {
    background: url(img/bg_blue.png) left top repeat-x;   
}

.stelki_bg_blue {
    width: 820px;
    height: 476px;
    margin:0 auto;
    background: url(img/stelki_bg.png) left top no-repeat;   
}


.ipod_block {
    width: 780px;
    height: 297px;
    margin: 90px auto 0 auto;
    background: url(img/ipod.png) left top no-repeat;
}


.the_wrapper p {
    padding: 0 170px 22px 180px;
    font:400 18px/24px 'PT Sans', sans-serif;
    color:#252525;
}

.likeme {
    width: 698px;
    height: 60px;
    margin: 0 auto;
    background: url(img/likeme.png) left top no-repeat;
    padding-top: 10px;
}

.block_key {
    height: 249px;
    background: #9f9691 url(img/key_bg.png) center top no-repeat;
    color:#f8f8f8;
    font-size: 22px;
    line-height: 32px;
}

.free_img {
    background: url(img/free_img.png) 10px top no-repeat;
}